<div id="content"></div>

<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>

  window.images = {
    hero: "<%= image_path("hero.jpg") %>",
    fullLogo: "<%= image_path("full-logo.png") %>",
    fullLogoWhite: "<%= image_path("full-logo-white.png") %>",
    roundLogo: "<%= image_path("round-logo.png") %>",
    roundLogoWhite: "<%= image_path("round-logo-white.png") %>",
    defaultPlaylistPhoto: "<%= image_path("default-playlist-photo.jpg") %>"
  }
</script>
